# Ignore dependencies and build files
node_modules
dist
.cache

# Ignore specific files
404.html
LICENSE.txt
package.json
package-lock.json
robots.txt
site.webmanifest

# Ignore configuration files
config.dev.js
common.js
webpack.config.prod.js
